.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.container .header-container {
  display: flex;
}
.nav-list a,
.contacts-list a {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-list,
.contacts-list {
  display: flex;
  gap: 40px;
}
.nav-list {
  margin-right: 340px;
}
.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.logo-1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-features,
.nav-team,
.nav-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-features:hover,
.nav-features:focus,
.nav-team:hover,
.nav-team:focus,
.nav-portfolio:hover,
.nav-portfolio:focus {
  color: #404bbf;
}
.contacts {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
